---
title: About
heading: "WHO WE ARE"
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= partial "partials/about/tiles" %>
<div class="ksf-section-container ksf-page-intro-text">
  <div class="ksf-section-limiter">
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin"><span class="bold">The KS Fitness family has many different characters with all kinds of goals, occupations and lifestyles.</span> Everyone puts some seriously hard work into their training. Results always come with hard work and dedication, which is exactly what KSFitness is all about.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">We welcome anyone - whatever your goals, needs, injuries or health issues. We love to help people "become a better version of themselves”. That's the reason we do this for a living - there's nothing more satisfying than seeing clients change their lives for the better. It's great to see them enjoying life because they have so much more confidence thanks to having trained and reached their goals. Watching clients get fitter, stronger and healthier is what gets us out of bed in the morning!</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">There is so much more to training than people think. It can help with so many aspects of people's lives. The correct training can have an impact on blood pressure, confidence, posture, injuries, pregnancy, work life and social life. It's not just about being a bodybuilder or super athlete (although, if that's your thing, more power to you). Training has all kinds of layers to it, whatever your age. We train 18 year olds to 70 year olds with completely different goals and health issues. We work with yoga instructors, actors, music and tv producers, bankers and rugby players, to name just a few. They all have limitations to training with work, children and busy lifestyles but they find the time to get it done.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">My name is Kev Selley and I'm the proud founder of KS Fitness. I've trained for over a decade and I've been a personal trainer for almost 5 years now. When I first started training, I made all the mistakes you can think of. I was  falling off the Swiss ball, getting the Barbell stuck on my chest, falling off the treadmill, and executing a bad technique on everything! I had no idea what I was doing because there's so much to learn. Over time, I signed up with a personal trainer and started learning and doing things properly. I also began to gain an understanding of how to piece training and nutrition together.</p>
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin">My claim to fame is that I'm a former pro wrestler. Wrestling was very challenging but very enjoyable and I competed all over London, Spain, Italy and Germany. It helped me to focus on my goals. I knew then that I wanted to help other people discover the kinds of training and exercise benefits that I had found. I wanted to make a difference to people's lives. That's where my personal training journey all began and that's when the idea for KS Fitness was born.</p>
   </div>
</div>
<div class="ksf-call-to-action-container">
  <a href="#sign-up" alt="Sign Up Form">
    <div class="ksf-call-to-action-button">
      <p class="ksf-call-to-action-text">
        JOIN THE FAMILY
      </p>
    </div>
  </a>
</div>
<%= partial "partials/shared/sign-up" %>
<%= partial "partials/about/tables" %>
<%= partial "partials/shared/divider" %>
<%= partial "partials/about/profiles" %>
