---
title: Training
heading: "TRAINING"
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= partial "partials/shared/selector" %>
<div class="ksf-section-container ksf-page-intro-text">
  <div class="ksf-section-limiter">
    <p class="ksf-multi-paragraph-text ksf-top-line-no-margin"><span class="bold">Our training is for anyone.</span></p>
    <p class="ksf-multi-paragraph-text">Whether you're looking to burn fat, add muscle, keep generally fit or prepare for a sporting event, there is a training program for you. With so many different techniques and end-goals, no two KS Fitness training programs look the same.</p>
    <p class-"ksf-multi-paragraph-text">There are two things you need to get the best results from your training: CONSISTENCY and VARIETY.</p>
    <p class="ksf-multi-paragraph-text">It's very important that you keep a consistent schedule with training. If you don't, your body won't change and develop the way you want it to. For example, if you are looking to build muscle, you need to train chest, back and legs every week along with the smaller muscles like shoulders and arms. Muscles develop gradually over time.</p>
    <p class="ksf-multi-paragraph-text">Training is about pushing what the body is capable of. Variety can help to keep the body just outside of its comfort zone. Techniques such as drop sets or super sets can stop your progress plateauing if you are looking to bulk up. If you are targeting fat loss, a mixture of long drills and short explosive bursts, combined with compound lifts can help you hit your goals week after week.</p>
    <p class="ksf-multi-paragraph-text">Our base is 20 minutes from Stratford in London. However, if you're not based nearby, why not try our online personal training service. Wherever you are, use the button below to get in touch and tell us... WHAT WILL YOU BE?</p>
    <p class="ksf-multi-paragraph-text">We make you this promise: <span class="bold">Whatever your age, whatever injuries you carry, whatever your general health, whatever your goals are, KSFitness can help you be a better version of you. 💪🏼</span></p>
  </div>
</div>
</p>
<div class="ksf-call-to-action-container">
  <a href="#sign-up" alt="Sign Up Form">
    <div class="ksf-call-to-action-button">
      <p class="ksf-call-to-action-text">
        HOOK ME UP!
      </p>
    </div>
  </a>
</div>
<%= partial "partials/shared/sign-up" %>
<%= partial "partials/training/workouts" %>
<%= partial "partials/shared/divider" %>
<%= partial "partials/training/client-progress" %>
